<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/c1df782baf.js"></script>
    <link rel="stylesheet" th:src="@{/css/adminfooter.css}">
</head>

<body>
    <footer class="footer-distributed" th:fragment="footer">

        <div class="footer-right">

            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>

        </div>

        <div class="footer-left">

            <p class="footer-links">
                <a class="link-1" href="/dashboard">Home</a>

                <a href="#">About</a>

            </p>

            <p>AyurGo &copy; 2024. All Rights Reserved</p>
        </div>

    </footer>
</body>

</html>