*{
    font-family: Arial, Helvetica, sans-serif;
}

.banner{
    background-color: #2ec8a6;
    width: 100%;
    height: 100px;
    color: #fff;
    border: 1px solid #2ec8a6;
}
.txt-nav{
    margin-left: 20px;
    height: 60%;
    align-items: center;
    margin-top: 20px;
}

#for-pass{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}

a:hover{
	text-decoration:none;
    cursor: pointer;
}
.sub-btn:hover{
    background-color: #07b08c;
}

.bg-img{
    width: 344px;
    height: 258px;
    background-image: url('../images/login-banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Adjust for the banner height */
    margin-top: 30px;
}

.login-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    color: #2ec8a6;
    font-size: 40px;
    margin-bottom: 0;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button {
    background-color: #2ec8a6;
    color: #fff;
    border-radius: 50px;
    width: 100%;
    cursor: pointer;
    align-items: center;
}


#for-pass{
    font-weight: 100;
    font-size: 14px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.726);
}
.forge{
    text-align: right;
    margin-bottom: 15px;
    font-size: 14px;
}

#for-pass:hover{
    color: #2ec8a6;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    font-size: 16px;
}

hr{
 border: 5px solid #2ec8a6;
 width: 20%;
 margin-bottom: 30px;
}

a{
    color: #fff;
    text-decoration: none;
}

.sub-btn{
    align-items: center;
}
#reg{
    font-weight: 100;
    font-size: 16px;
    color: #0941dc;
    text-decoration: none;
    margin-top: 10px;
}

.ac{
    text-align: center;
}