
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: #ccc;
}



.banner{
    background-color: #2ec8a6;
    width: 100%;
    height: 100px;
    color: #fff;
    border: 1px solid #2ec8a6;
}
.txt-nav{
    margin-left: 20px;
    height: 60%;
    align-items: center;
    margin-top: 20px;
}

a{
	text-decoration: none;
	color: #fff;
}


.text-nav a:hover{
    cursor: pointer;
}

.container {
    margin-top: 100px;
    margin-left: 440px;
    height: 100vh;
    padding: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #666; /* Grey color */
}

.user-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    padding: 10px;
}

.user-info p {
    margin: 5px 0;
}

.logout-btn {
    margin-left: 250px;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #0056b3;
}
